.contenedor {
    position: relative;
    font-family: 'Montserrat';

  }
  
  .centradoPrincipal {
    Display: Flex;
    flex-direction: column;
    Width:100%;
    height: 100vh;
    Justify-content: center;
    Align-items:center;
  }

  .bordeAncho{
    width: 30%;
    margin: 110px;
    margin-top: 15%;
  }

  .centrarElementos {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-verdeAdbid {
      background-color: #43844D;
      color:#fff;
  }

  img{
    position: absolute;
    top: -20%;
    left: 33%;
    width: 35%;
  }
  .letraAdbid {
    font-family: 'Montserrat';
    font-size: 22px;
    color: #28AD2D;
  }
  .letraAdbid h1 {
    margin: 0px;
    padding: 0;
    color: #297435;
    font-size: 250%;
    text-align:center;

  }
  .letraAdbid h2 {
    margin-top:5%;
    padding: 0;
    color: #297435;
    font-size: 150%;
    text-align:center;
  }
  .letraAdbid h5 {
    margin: 0px;
    padding: 0;
    color: #297435;
    font-size: 120%;
    text-align:center;

  }
  .mat-form-field {
    font-family: 'Montserrat';
  }
  .mat-card{
    background: rgba(255, 255, 255, 0.5);
  }


  @media(max-width: 600px) {
    .bordeAncho{
        width: 95%;
        
      }
      .centradoPrincipal {
        Display: Flex;
        flex-direction: column;
        Width:100%;
        height: 100vh;
        Justify-content: center;
        Align-items:center;
        Box-sizing: border-box;
      }
      img{
          width: 300px;
          position: absolute;
          top:-5%;
          left: 10%;
      }
      .letraAdbid h1 {
        margin: 0px;
        padding: 0;
        color: #297435;
        font-size: 200%;
        text-align:center;
    
      }
      .letraAdbid h2 {
        margin-top:5%;
        padding: 0;
        color: #297435;
        font-size: 100%;
        text-align:center;
      }
      .letraAdbid h5 {
        margin: 0px;
        padding: 0;
        color: #297435;
        font-size: 80%;
        text-align:center;
    
      }
    
  }
