<img src="/assets/img/logoAdbid.png">
<section>
  <div class="centradoPrincipal ">
    <mat-card class="example-card  bordeAncho">
      <mat-card-header class="centrarElementos">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form centrarElementos">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required >
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>
        </form>
        <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
      </mat-card-content>
      <mat-card-actions class="centrarElementos">
        <button mat-raised-button (click)="login()" color="verdeAdbid" >Login</button>
      </mat-card-actions>

    </mat-card>
    <div class="letraAdbid">
      <h1>Gestor de horas</h1>  
      <h2>Realizado por Adbid Latam S.A.S</h2>
      <h5>2021</h5>
    </div>


       
  </div>



</section>
